---
- name: 'Check mandatory variables are defined'
  assert:
    that:
      - application_name is defined
      - docker_network_name is defined
      - domain_name is defined
      - database_name is defined
      - database_user is defined
      - database_password is defined
      - dump_day is defined
      - admin_mail is defined
      - admin_pass is defined
      - mysql_root_password is defined
      - alloy_host is defined

- name: Create the dockernetwork
  community.docker.docker_network:
    name: "{{ docker_network_name }}"

- name: Create the public folder volume
  community.docker.docker_volume:
    name: public-folder

- name: Create the var folder volume
  community.docker.docker_volume:
    name: var-folder

- name: Create the mysql data volumne
  community.docker.docker_volume:
    name: mysql-data

- name: Create the files directory
  file:
    path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/files"
    state: directory
    mode: "0700"

- name: Create the config directory
  file:
    path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/conf.d"
    state: directory
    mode: "0700"

- name: Create database container
  community.docker.docker_container:
    name: "{{ application_name }}-database"
    image: "mariadb:latest" # TODO: Use a specific version
    restart_policy: "always"
    cleanup: true
    exposed_ports:
      - "3306"
    published_ports: "{{ ['0.0.0.0:3306:3306'] if should_publish_ports else [] }}"
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "syslog"
    log_options:
      syslog-address: "tcp://{{ alloy_host }}:51893"
      syslog-format: "rfc5424"
      tag: "{{ application_name }}-database"
    volumes:
      - mysql-data:/var/lib/mysql
    env:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_DATABASE: "{{ database_name }}"
      MYSQL_USER: "{{ database_user }}"
      MYSQL_PASSWORD: "{{ database_password }}"

- name: Create app container
  community.docker.docker_container:
    name: "{{ application_name }}-app"
    image: "kimai/kimai2:fpm-2.19.1-prod"
    restart_policy: "always"
    cleanup: true
    log_driver: "syslog"
    log_options:
      syslog-address: "tcp://{{ alloy_host }}:51893"
      syslog-format: "rfc5424"
      tag: "{{ application_name }}-database"
    networks:
      - name: "{{ docker_network_name }}"
    volumes:
      - public-folder:/opt/kimai/public
      - var-folder:/opt/kimai/var
    env:
      APP_ENV: "prod"
      TRUSTED_HOSTS: "{{ domain_name }}"
      ADMINMAIL: "{{ admin_mail }}"
      ADMINPASS: "{{ admin_pass }}"
      DATABASE_URL: "mysql://{{ database_user }}:{{ database_password | urlencode() }}@{{ application_name }}-database:3306/{{ database_name }}"

- name: Create nginx container
  community.docker.docker_container:
    name: "{{ application_name }}-nginx"
    image: "nginx:latest" # TODO: Use a specific version
    cleanup: true
    log_driver: "syslog"
    log_options:
      syslog-address: "tcp://{{ alloy_host }}:51893"
      syslog-format: "rfc5424"
      tag: "{{ application_name }}-database"
    restart_policy: "always"
    exposed_ports:
      - "80"
    networks:
      - name: "{{ docker_network_name }}"
    volumes:
      - "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/conf.d:/etc/nginx/conf.d"
      - public-folder:/opt/kimai/public
    published_ports:
      - "0.0.0.0:{{ host_port }}:80"

- name: Configure nginx site
  template:
    src: kimai.j2
    dest: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/conf.d/site.conf"
    owner: root
    group: root
    mode: '0644'

- name: Setup database backups
  include_role:
    name: ansible-backups
    tasks_from: setup-mariadb-database-backups
  vars:
    database_container_name: "{{ application_name }}-database"

- name: Setup S3 backups
  include_role:
    name: ansible-backups
    tasks_from: setup-s3-backups

- name: Setup restic backups
  include_role:
    name: ansible-backups
    tasks_from: setup-restic-backups
  vars:
    file_path: "/var/lib/docker/volumes/mysql-data"

# Restart the app container, sometimes needed for upgrades
- name: Restart kimai
  command: docker restart kimai-app
  register: restart_kimai_result
  changed_when: restart_kimai_result.rc != 0
