---
- name: 'Check mandatory variables are defined'
  assert:
    that:
      - application_name is defined
      - docker_network_name is defined
      - alloy_host is defined
      - amule_downloads_folder is defined
      - amule_password
      - backup_day is defined

- name: Create the dockernetwork
  community.docker.docker_network:
    name: "{{ docker_network_name }}"

- name: Create the config directory
  file:
    path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/config"
    state: directory
    mode: "0755"

- name: Create app container
  community.docker.docker_container:
    name: "{{ application_name }}-app"
    image: "ngosang/amule:2.3.3-20"
    restart_policy: "always"
    pull: true
    log_driver: "syslog"
    log_options:
      syslog-address: "tcp://{{ alloy_host }}:51893"
      syslog-format: "rfc5424"
      tag: "{{ application_name }}-app"
    networks:
      - name: "{{ docker_network_name }}"
    ports:
      - 4662:4662
      - 4665:4665
      - 4672:4672
      - 4711:4711
      - 4712:4712
    volumes:
      - "{{ amule_downloads_folder }}:/incoming"
      - "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/config:/home/amule/.aMule"
      # - "{{ amule_temp_folder }}:/temp"
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "Europe/Madrid"
      GUI_PWD: "{{ amule_password }}"
      WEBUI_PWD: "{{ amule_password }}"
      MOD_AUTO_RESTART_ENABLED: "true"
      MOD_AUTO_RESTART_CRON: "0 6 * * *"
      MOD_AUTO_SHARE_ENABLED: "false"
      MOD_AUTO_SHARE_DIRECTORIES: "/incoming;/my_movies"
      MOD_FIX_KAD_GRAPH_ENABLED: "true"

- name: Setup file backups
  include_role:
    name: ansible-backups
    tasks_from: setup-file-backups

- name: Setup S3 backups
  include_role:
    name: ansible-backups
    tasks_from: setup-s3-backups

- name: Setup restic backups
  include_role:
    name: ansible-backups
    tasks_from: setup-restic-backups
  vars:
    file_path: "{{ hostvars[inventory_hostname].working_directory }}{{ application_name }}/config"
