---
- name: 'Check mandatory variables are defined'
  assert:
    that:
      - application_name is defined
      - alloy_host is defined

- name: Create app container
  community.docker.docker_container:
    name: "{{ application_name }}"
    image: "gcr.io/cadvisor/cadvisor:v0.52.1"
    restart_policy: "always"
    cleanup: true
    privileged: true
    ports:
      - 8080:8080
    networks:
      - name: "host"
    log_driver: "loki"
    log_options:
      loki-url: "{{ alloy_host }}"
      loki-batch-size: "400"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    devices:
      - /dev/kmsg
    command: "--enable_load_reader={{ enable_load_reader }} --docker_only=true"
