---

- name: 'Check mandatory variables are defined'
  assert:
    that:
      - alloy_host is defined
      - docker_network_name is defined

- name: Create the dockernetwork
  community.docker.docker_network:
    name: "{{ docker_network_name }}"

- name: Create container
  community.docker.docker_container:
    name: "redis"
    image: "redis:8.4.0-alpine"
    restart_policy: "always"
    cleanup: true
    memory: "100MB"
    exposed_ports:
      - "6379"
    published_ports:
      - "6379:6379"
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "syslog"
    log_options:
      syslog-address: "tcp://{{ alloy_host }}:51893"
      tag: "redis"
      syslog-format: "rfc5424"
