#!/bin/bash
eval "$(sentry-cli bash-hook)"
aws s3 cp s3://{{ backups_bucket_name }}/{{ application_name }}_latest_dump.tgz.xz /tmp/backup.tgz.xz
gpg -o /tmp/backup_decrypted.tgz.xz --decrypt /tmp/backup.tgz.xz
unxz /tmp/backup_decrypted.tgz.xz
gunzip /tmp/backup_decrypted.tgz
cat /tmp/backup_decrypted.tar | docker exec -i {{ database_container_name }} /usr/bin/mysql -u {{ database_user }} --password='{{ database_password }}' {{ database_name }}
rm /tmp/backup.tgz.xz
rm /tmp/backup_decrypted.tar
